@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/
* {margin: 0;padding: 0;list-style: none;font-family: 'Roboto', sans-serif;}
a{color: #444444; text-decoration: none;}
a:visited a:hover a:active a:link {color: #444444;}
.mt-6 {margin-right: -6rem;}
.mt2 {margin-bottom: 2rem;}
header {}
#header { position: relative;padding: 10px 0;border-bottom: 1px solid #ccc;display: flex; align-items: center; justify-content: space-between;}
#logo img{object-fit: cover;image-rendering: -moz-crisp-edges;image-rendering: -o-crisp-edges;image-rendering: -webkit-optimize-contrast;-ms-interpolation-mode: nearest-neighbor;image-rendering: crisp-edges;width: 16%;margin-left: 50px;}
body {margin: 0;}
#menu {width: auto;}
#menu li{float:left;margin-right: 30px;}
#menu a li {font-size: 1.7rem;color: #444;margin-top: 5px;line-height: 60px;display:block;text-decoration: none}
#header ::after {clear: both;}

.outer {width:auto;height: 70vh;}
.bgcolor {text-align: center;width:auto;height:100%;background: #e2eac1;position:fixed;left: 50px;top:1px;margin-left: 10px;}
.slideshow-container .img1 {width: auto;height: 65vh;background: rgb(244,232,182);background: linear-gradient(90deg, rgba(244,232,182,1) 0%, rgba(241,215,142,1) 100%);}
.slideshow-container .img2 {
    width: auto;
    height: 65vh;
    background: rgb(213,232,214);
    background: linear-gradient(180deg, rgb(210,232,214) 0%, rgba(165,210,178,1) 50%);
}

/* Slideshow container */
.slideshow-container {max-width: auto;max-height: 750px;position: relative;margin: 0;}
.slideshow-container .mySlides img {}

/* Hide the images by default */
.mySlides {display: none;}

/* Next & previous buttons */
.prev, .next {cursor: pointer;position: absolute;top: 50%;width: auto;margin-top: -22px;padding: 16px;color: white;font-weight: bold;font-size: 18px;transition: 0.6s ease;border-radius: 0 3px 3px 0;user-select: none;}
 a.prev,  a.next {font-size: 50px;}
/* Position the "next button" to the right */
.next {right: 0;border-radius: 3px 0 0 3px;}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {}
.main1 {position: absolute;bottom: 0%;width: 20%;left: 25%;}
.btn {position: absolute;bottom: 8%;width: 17%;left: 60%;}
.main2 {position: absolute;top: 0px;width: 14%;left: 65%;}

  /*
  @media(min-width: 1300px) {
    .main1 {
      position: absolute;
      bottom: 3px;
      width: 30%;
      left: 25%;
      bottom: 5px;
    }

  */
  /* Caption text */
.mtest {font-family : 'Jua', sans-serif;color: #3b5047;font-size: 40pt;position: absolute;top: 40%;width: auto;left: 21%;text-align: center;}
.text {font-family : 'Jua', sans-serif;color: #3b5047;font-size: 18px;padding: 10px 20px;position: absolute;bottom: 8px;left: 47.5%;width: auto;border: 1px solid #292929;border-radius: 20px;text-align: center;}

/* Number text (1/3 etc) */
.numbertext {color: #f2f2f2;font-size: 12px;padding: 8px 12px;position: absolute;top: 0;}

/* The dots/bullets/indicators */
.dot {cursor: pointer;height: 15px;width: 15px;margin: 0 2px;background-color: #bbb;border-radius: 50%;display: inline-block;transition: background-color 0.6s ease;}
.active, .dot:hover {background-color: #717171;}

/* Fading animation */
.fade {-webkit-animation-name: fade;-webkit-animation-duration: 1.5s;animation-name: fade;animation-duration: 1.5s;}

@media(min-width: 1800px) {
  .mtest {
    font-family : 'Jua', sans-serif;
    color: #3b5047;
    font-size: 50pt;
    position: absolute;
    top: 40%;
    width: auto;
    left: 21%;
    text-align: center;
  }
}

/*event.html css*/
.event_img_sort  {position: relative;}
.event_img_one_bg {position: absolute; right: 0; background: #3b5047; border-radius: 50%; font-size: 4rem; padding: 5px 16px;}
.event_img_one_bg img {}
/*basket.html css*/
.ba_container {min-height: 723px;}
.ba_container, .pay_container {width: 950px; margin: 0 auto;}
.ba_bar, .pay_bar {display: flex;align-items: center; justify-content: space-between; margin:3rem 0 4rem 0;}
.ba_bar ul, .pay_bar ul {margin-right: 10px;}
.ba_bar ul li, .pay_bar ul li {display: inline; padding: 0 2px;}
.ba_title, .pay_title {font-size: 2rem; font-weight: bold;}
.on {font-weight: bold;}

.ba_container table, .pay_container table {border-collapse: collapse; width: 100%;text-align: center; vertical-align:middle;}
.ba_container thead td, .pay_container thead td {padding: 10px 0; background:#EBEBEB; font-size: 15px; font-weight: bold; border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD;}
.ba_container tbody td, .pay_container tbody td {padding: 10px 0; font-size: 20px; border-bottom: 1px solid #DDDDDD;}
.ba_del button {padding: 6px 10px; font-size: 15px; margin: 10px 0 10px 5px; border-radius: 4px; border:1.2px solid #DDDDDD; background: none;}

.ba_move {display: flex; justify-content: center; margin-bottom: 80px;}
.ba_move button {margin: 60px 10px 20px; padding: 20px 0; width: 17%; font-size: 1rem; font-weight: bold; background: #acd7b1;color: #fff; box-sizing: border-box;border: none;border-radius: 4px;}
.ba_move button:first-child {border: 1px solid #acd7b1; background: none; color: #000;}
.ba_btn_sort {display: flex; flex-direction: row; align-items: center; justify-content: space-between;}
.total_cost {margin-right: 10px; line-height: 160%; font-size: 20px;}
.total_cost span {color: #3b5047; font-size: 25px; font-weight: bold;}
.bs_ta_img {width: 70%;}

#doll_img img {width: 70%;}
/*-----------------------------------------------------------*/
/*payment.html css*/
.ord_info {margin: 2.4rem 0 20px 1rem;}
.de_title, .pay_ch_title {font-size: 1.4rem; font-weight: bold; margin: 0.5rem 0 1.8rem 0;}

.ord_info_sort {display: flex; align-items: center; margin: 10px 0;}
.ord_info_sort p,.ord_add_info_sort p {font-size: 1rem; font-weight: bold; width: 12%;;}
.ord_info_sort input[type="text"] {box-sizing: border-box; border: 1px solid #d9d9d9;  width: 10vw; padding: 5px; font-size: 1rem;}
.ord_add_info_sort {display: flex; margin: 10px 0;}

.add_deinfo input[type="text"] {box-sizing: border-box; border: 1px solid #d9d9d9; width: 13vw;padding: 5px; font-size: 1rem;}
.zipcode_info button {box-sizing: border-box; border: 1px solid #d9d9d9; background: #fff; width: 5vw; padding: 6px 1px; font-size: 0.8rem; margin-bottom: 5px; width: auto;}
.num_zipcode {box-sizing: border-box; border: 1px solid #d9d9d9; width: 5.9vw;padding: 5px 0; font-size: 1rem; margin-bottom: 5px;}
.ord_info_sort input[type="text"] {box-sizing: border-box; border: 1px solid #d9d9d9; width: 26.2vw;padding: 5px; font-size: 1rem;}
.ord_mrg {margin-bottom: 3rem;}

.pay_ch_info {border: 0.5px solid #d9d9d9; border-radius: 10px; padding: 1.2rem 0 1.2rem 1rem; margin-bottom: 1rem; font-size: 1.2rem;}
.pay_ch_info_sort {display: flex; align-items: center; margin: 1rem 0px;}
.pay_ch_info img { width: 6%; margin: 0 10px;}
.pay_ch_info_sort input {width:20px;height:20px;border:1px; margin: 5px 5px;}
.payment_btn button {width: auto;background: #acd7b1; padding: 14px 5rem; font-size: 1.6rem; border: none; color: #fff; font-weight: bold; display: block; margin: 0 auto;}
.re_pay {display: flex; align-items: center; justify-content: flex-end;}
.pay_font {padding-right: 15px;}
.pa_da {color: #346451; font-weight: bold; font-size: 1.5rem;}
.re_pay {text-align: right;margin-bottom: 2rem; font-size: 1.3rem;}
.table_img_size img {width: 60%;}

.ord_agree {margin-bottom: 20px;}
.ord_agree input[type="checkbox"] {margin-left:5px; margin-right: 0.5rem;}

/*----------------------------------------------------------*/
/*ticket_payment css*/
.tick_table_img_size img {width: 60%;}
.tick_table_img_size tbody td {padding: 1.5rem 0;}

/*media2.html css*/
.img_pore {position: relative;}
.poab_btn {display: flex;position: absolute; bottom: 20%; right: 10%;}
.arrowkeys_btn {display: flex; flex-direction: column; align-items: center; position: absolute; bottom: 10%; left: 10%;}
.arrowkey_lr {display: flex; align-items: center;}
.arrow_key_bg {width: 20px; height: 20px; padding: 10px; text-align: center; color: #fff; background: #a5d2b2; border-radius: 50%;}
.mr_3rem {margin-right: 3rem;}
.pick_btn, .put_btn {font-size: 20px;font-weight: bold;color: #fff;background: #a5d2b2;border-radius: 50%;width: 60px;height: 60px;padding: 10px;text-align: center;border: none;}
.pick_btn {margin-right: 10px;}
.media2_img_size {width: 100%; height: 100vh;}
.media2_ticket_cnt {position: absolute;transform: translate(-50%, -50%); top: 5%; left: 50%; color: #a5d2b2;}

/*--------pro_info.html---------------*/
.side_bar img {width: 44%;}
.side_bar {padding: 3rem 0;position: absolute;top: 6rem;left: 0;width: 15%;height: 100vh;color: #000;border: none;border-right: 1px solid #d9d9d9;bottom: 0;}
.side_menu {
  font-weight: bold;
  font-size: 2rem;
  margin: 30px 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side_menu img {padding: 10px 0;}
.animated {padding-left: 16%;}
.pro_bg {box-shadow: 3px 8px 15px 6px rgb(133 133 133 / 61%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
  border-radius: 9px;
  width: 19%;
}
.pro_info { display: flex; align-items: center; justify-content: center; background: #fff; padding: 2.5rem 1rem; width: 70%;}
.pro_info img { width: 100%;object-fit:cover;}
.pro_info_sort {display: flex; align-items: center; justify-items: center; }
/* .pro_dall_name {font-size: 2rem;  padding: 1rem 0 0 0; font-weight: bold; color: #fff;} */

.pro_dall_name {
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  color: #fff;
  background: #a5d2b2;
  width: 100%;
  /* height: 100%; */
}
.tik_sort {margin: 0.9rem 0 0 0; display: flex; font-size: 1.5rem; align-items: center; justify-content: flex-end;}
.tik_sort img {width: 5.5%;padding-right: 7px;}
.tik_sort>p {padding: 0 5px;font-size: 2.8rem;}


@media(max-width: 1390px) {
  #menu {
    width: 20%;
  }
  .pro_bg {
    padding: 2rem 0.8rem 1rem 0.8rem;
  }
  .side_bar {
    top: 5.5rem;
    height: 100vh;
  }
  .side_bar_sort {height: 100vh;}
}

/*ticket_buy css*/
/* .container {font-family: "Noto Sans KR", sans-serif !important;} */
.my_side_bar { font-family: "Noto Sans KR", sans-serif !important; padding: 2.5rem 0;position: absolute;top: 6rem;left: 0;width: 15%;color:#AAAAAA; font-size: 1.5rem; border: none; }
.my_side_bar p {font-weight: bold; color: #000; font-size: 1.8rem; padding: 0.2rem 0 2rem 1rem;}
.my_side_bar>ul {padding: 0rem 0 2rem 1rem; font-weight: bold;color: #AAAAAA;}
.my_side_bar li {padding: 1rem 0;}
.my_side_bar li:hover {color: #acd7b1;}
.mypage_fb {color: #000;}

.mypage_list {font-family: "Noto Sans KR", sans-serif !important;}
.ticket_title {text-align: center; font-size: 2rem; font-weight: bold; margin: 15px 0; font-family: "Noto Sans KR", sans-serif !important;}
.ticket_cnt_sort {display: flex; align-items: center; justify-content: center; margin-bottom:1.5rem;}
.ticket_cnt_sort img {width: 3%; margin: 0 1rem;}
.cnt_libl {display: flex; font-size: 1.6rem; margin: 1.7rem 0; color: #92A991; font-size: 1.3rem; font-weight: bold;}
.cnt_libl p {padding: 0 5px;}
.box_bd {box-sizing: border-box; position: relative; width: 30%; padding: 3.3rem 1rem; border: 1px solid #ddd; border-radius: 7px 0 0 7px; display: flex; align-items: center; justify-content: center;}
.box_bd img {width: 70%;}

.ti_box_sort, .ticket_m_cnt {display: flex; justify-content: center;}
.ti_info_cont {border-radius: 0px 7px 7px 0; width: 50%;border: 1px solid #ddd; border-left: none; display: flex; align-items: center; justify-content: center; }
.ti_info_cont p{font-size: 2rem; color: #333333;}
.ti_info_cont button {padding: 0.7rem 1rem; font-size: 1rem; border-radius: 6px; border: 1.8px solid #acd7b1; background: none;}
.tik_info_mt {padding: 0 2.5rem 0 0; margin: 0 1rem 0 -1rem; }

.buy_cnt_sort {position: absolute; bottom: 5%; right: 5%; color: #A2A2A2;}
.ticket_m_cnt {color: #333333; font-size: 1.4rem; margin: 0.6rem 0;}
.ticket_m_cnt p {font-size: 1.48rem; font-weight: bold; color: #92A991; padding: 0 0.2rem;}
.align_sort {display: flex; flex-direction: row; justify-content: center; margin: 2rem 0; }

/*mypage css*/
.mp_container {display: flex; justify-content: center; flex-direction: column; align-items: center; margin-top: 2rem;}
.mp_container_sort {width: 90%; min-height: 723px;
  /* position: absolute; left: 50%; top: 30%; transform: translate(-50%, -50%); */

}
.mypage_hd {display: flex; align-items: center;}
.mypage_hd_bg {text-align: center; width: 10%; padding: 4.5rem 1.2rem ; margin-right: 2rem; background: #212121; color: #fff; font-size: 1.5rem;}


.mypage_hd_bd {width: 90%; border: 2px solid #212121; border-left: none; border-right: none; display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; padding: 3rem 0; font-size: 1.2rem;}
.mypage_info, .mypage_user_info {display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 0 2rem;}


.flex_sort {align-items: flex-start;}
.mypage_user_info {font-weight: bold; font-size: 1.6rem; }
.mypage_user_info p:first-child {margin-bottom: 0.5rem;}
.mypage_info p:first-child{margin-bottom: 1rem;}
.mypage_info p:last-child {font-weight: bold;}
.my_info_rsort {display: flex; align-items: center;}

.my_adside_sort { width: 10%; padding: 0 1.2rem ; margin: 3.5rem 2rem 0 0; color: #000; }
.my_adside_info p {font-size: 1.2rem; padding: 0.5rem 0; color: rgb(150, 150, 150);}
.my_adside_info p:first-child {font-size: 1.5rem; margin: 1.5rem 0 0.1rem 0;  color: #000;}

.mb-3 {margin-top: 3.5rem;}
.ftbold {font-weight: bold; color: #000;}
.con_info_sort {display: flex;}


.mp_ord_bg_sort { width: 90%; margin: 3.5rem 0 0rem 0;}
.mp_ord_title {border-bottom: 2px solid #212121;}
.mp_ord_title p {font-size: 1.6rem; padding-bottom: 1rem;}
.da_hd_bg_g {margin-top: 2rem; background: #e6e6e6; display: flex; align-items: center; justify-content: space-between;}
.mp_date_sort {display: flex; align-items: center; padding: 1.2rem 0 1.2rem 1rem;}
.mp_date_sort p {cursor: pointer; margin: 0 0.4rem;background: #fff; padding: 0.3rem 1rem;}

.mp_orlist_tb {border-collapse: collapse; width: 100%; vertical-align: middle; text-align: center;margin-top: 2rem;}
.mpord_img img {width: 95%;}
.mp_orlist_tb tbody td, .mp_orlist_tb thead td{padding: 1rem 0; font-size: 1.4rem;}
.mp_orlist_tb thead tr {font-weight: bold;}
.thead_bd {border: 1px solid #d9d9d9; border-left: none; border-right: none;}

/* .my_adside_info p>a { position: relative;}
.my_adside_info p>a::after {content: '';
  display: block;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background: #acd7b1;width: 0;
  transition: width .3s;}
  .my_adside_info p>a:hover {width: 100%;} */
/*마우스 hover 형관펜 표시*/
.to-right-underline{position: relative; cursor: pointer;}
.to-right-underline:after{content: "";position: absolute;display: block;left: 0;bottom: 0px;width: 0px;height: 5px;margin: 5px 0 0;transition: all 0.2s ease-in-out;transition-duration: 0.3s;opacity: 0;background-color: #acd7b1;}
.to-right-underline:hover:after{width: 100%;opacity: 1; }

/* .my_adside_info p>a:hover {color: #acd7b1;} */

.date_cho_sort {display: flex; align-items: center; }
.date_cho_sort p {font-size: 1rem; background: #212121; color: #fff;padding: 0.3rem 1.5rem; margin-right: 2rem; cursor: pointer;}
.date_cho_input_sort {margin-right: 1rem; font-size: 2rem; display: flex; align-items: center;}
.date_cho_input_sort input[type="date"] {cursor: pointer; border: none; font-size: 1rem; padding: 0.3rem 1rem; margin: 0 0.7rem; }

.mpbk_img img{width: 58%;}
.mp_pm_btn {background: none; padding: 0.8rem; border: 1px solid #212121; font-size: 1.2rem; box-sizing: border-box;}

/*edit_userinfo css*/
.edit_user_tb {width: 100%; border-collapse: collapse;}
.edit_user_tb th {background: #FAFAFA; }
.edit_user_tb th, .edit_user_tb td {padding: 1rem;}
.edit_user_tb tr {border-bottom: 1px solid #d9d9d9;font-size: 17px;text-align: left;}
.edit_userinfo_input input, .edit_userinfo_input p {padding: 0.6rem; font-size: 17px; width: 40%; border: 1px solid #d9d9d9;}

.edit_date_input input, .edit_date_input select {margin: 0 5px; padding: 0.6rem; font-size: 17px; width: 11.5%; border: 1px solid #d9d9d9;}
.edit_user_btn {text-align: center; margin: 40px 0;}
.edit_user_btn button {border-radius: 4px; color: #fff; width: 13%; padding: 15px 0; margin: 0 10px; font-size: 17px; font-weight: bold; background: #fff; color: #000; border: 1px solid #acd7b1; box-sizing: border-box;}
.edit_user_btn button:first-child {background: #acd7b1; color: #fff; border: 1px solid #acd7b1; box-sizing: border-box;}

.edit_addinfo_input input{padding: 0.6rem; font-size: 17px; width: 11%; border: 1px solid #d9d9d9;}
.edit_addinfo_input input:last-child {width: 26.2%;margin-left: 5px;}

/*footer*/
.fo_ma {margin-top: 10rem;}
.fo{text-align: center; font-size: 15px; background-color: #292929; color:white;width: 100%;padding: 24px 0;}
/*--------------------------------------------------*/
/*checkbox 색 변경*/
input[type="checkbox"] {cursor: pointer;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: 0;background: #fff;height: 16px;width: 16px;border: 1px solid #444;}
input[type="checkbox"]:checked {background: #acd7b1;}
input[type="checkbox"]:hover {filter: brightness(90%);}
input[type="checkbox"]:disabled {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
input[type="checkbox"]:after {content: '';position: relative;left: 40%;top: 20%;width: 15%;height: 40%;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);display: none;}
input[type="checkbox"]:checked:after {display: block;}
input[type="checkbox"]:disabled:after {border-color: none;}
/*-----------------------------------------------------------*/
/*radio 색 변경*/
input[type="radio"] {cursor: pointer;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: 0;background: #fff;height: 16px;width: 16px;border: 1px solid #444; border-radius: 50%;}
input[type="radio"]:checked {background: #acd7b1;}
input[type="radio"]:hover {filter: brightness(90%);}
input[type="radio"]:disabled {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
input[type="radio"]:after {content: '';position: relative;left: 40%;top: 20%;width: 15%;height: 40%;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);display: none;}
input[type="radio"]:checked:after {display: block;}
input[type="radio"]:disabled:after {border-color: none;}
